<?xml version="1.0"?>

<launch>

	<arg name="frame_rate" default="30.0"/>
	<arg name="imgtopic" default="video/image_raw"/>
	<arg name="use_webcam" default="true"/>
	<arg name="publish_video" default="true"/>

	<group unless="$(arg use_webcam)">
		<include file="$(find rvm)/launch/camera.launch">
			<arg name="camera_serial" value = "0"/>
			<arg name="calibrated" value = "1"/>
			<arg name="frame_rate" value="$(arg frame_rate)"/>
			<arg name="camera_name" default = "video"/>
		</include>
	</group>

	<node pkg="rvm" type="frontend_node" name="frontend_node" output="screen">
		<param name="publish_video" value="$(arg publish_video)"/>
		<param name="use_cv_imShow" value ="false"/>
		<param name="camera_fps" value="$(arg frame_rate)"/>
		<param name="use_webcam" value="$(arg use_webcam)"/>
		<param name="record_video" value="false"/>
		<remap from="video" to="$(arg imgtopic)" />
	</node>

	<group if="$(arg publish_video)">
		<node pkg="rqt_image_view" type="rqt_image_view" name="rqt_image_view" />
	</group>

</launch>